body{
    background-color: #081F37;
  }
  
  .col-md-4 input{
    border-radius: 20px;
  }
  
  .bookmarks-container h3{
    color: white;
    margin: 15px 0px 0px 55px;
  }

  .bookmarks-container p{
    color: white;
    margin: 0px 0px 10px 55px;
  }

  .quest-container1 {
    background-color: white;
    margin: 0 auto;
    width: 1100px;
    height: 95px;
    border-radius: 20px 20px 0px 0px;
    padding: 0px 0px 0px 15px;
    justify-content: center;
  }
  
  .quest-container1 h5 {
    color: black;
    padding: 7px 0px 0px 0px;
  }
  
  .quest-container1 p {
    margin: 0px 5px 0px 30px;
    font-size: 10px;
    color: black;
  }
  
  .quest-container1 h4 {
    margin: 0px 5px 0px 30px;
    padding-top: 5px;
    font-size: 10px;
    color: black;
    font-size: 15px;
  }
  
  .icon-container1 {
    margin: 0 auto;
    width: 1100px;
    height: 30px;
    background-color: #dae6f1;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
  }

  .icon-container1 p{
    font-size: 15px;
    padding-left: 17px;
    padding-top: 3px;
  }

  .quest-container2 {
    background-color: white;
    margin: 0 auto;
    width: 1100px;
    height: 95px;
    border-radius: 20px 20px 0px 0px;
    padding: 0px 0px 0px 15px;
  }
  
  .quest-container2 h5 {
    color: black;
    padding: 7px 0px 0px 0px;
  }
  
  .quest-container2 p {
    margin: 0px 5px 0px 30px;
    font-size: 10px;
    color: black;
  }
  
  .quest-container2 h4 {
    margin: 0px 5px 0px 30px;
    padding-top: 5px;
    font-size: 10px;
    color: black;
    font-size: 15px;
  }
  
  .icon-container2 {
    margin: 0 auto; 
    width: 1100px;
    height: 30px;
    background-color: #dae6f1;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
  }

  .icon-container2 p{
    font-size: 15px;
    padding-left: 17px;
    padding-top: 3px;
  }

  .quest-container3 {
    background-color: white;
    margin: 0 auto;
    width: 1100px;
    height: 95px;
    border-radius: 20px 20px 0px 0px;
    padding: 0px 0px 0px 15px;
  }
  
  .quest-container3 h5 {
    color: black;
    padding: 7px 0px 0px 0px;
  }
  
  .quest-container3 p {
    margin: 0px 5px 0px 30px;
    font-size: 10px;
    color: black;
  }
  
  .quest-container3 h4 {
    margin: 0px 5px 0px 30px;
    padding-top: 5px;
    font-size: 10px;
    color: black;
    font-size: 15px;
  }
  
  .icon-container3 {
    margin: 0 auto;
    width: 1100px;
    height: 30px;
    background-color: #dae6f1;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
  }

  .icon-container3 p{
    font-size: 15px;
    padding-left: 17px;
    padding-top: 3px;
  }

  .quest-container4 {
    background-color: white;
    margin: 0 auto;
    width: 1100px;
    height: 95px;
    border-radius: 20px 20px 0px 0px;
    padding: 0px 0px 0px 15px;
  }
  
  .quest-container4 h5 {
    color: black;
    padding: 7px 0px 0px 0px;
  }
  
  .quest-container4 p {
    margin: 0px 5px 0px 30px;
    font-size: 10px;
    color: black;
  }
  
  .quest-container4 h4 {
    margin: 0px 5px 0px 30px;
    padding-top: 5px;
    font-size: 10px;
    color: black;
    font-size: 15px;
  }
  
  .icon-container4 {
    margin: 0 auto;
    width: 1100px;
    height: 30px;
    background-color: #dae6f1;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
  }

  .icon-container4 p{
    font-size: 15px;
    padding-left: 17px;
    padding-top: 3px;
  }
  
