body {
  background-color: #081f37;
}

.col-md-4 input {
  border-radius: 20px;
}

.com-name h5{
  color: white;
  padding: 20px 20px 0px 60px;
}
.com-name p {
  color: white;
  padding: 0px 20px 0px 60px;
  /* margin: 10px; */
}
.quest-container {
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  width: 1100px;
  height: 87px;
  border-radius: 20px 20px 0px 0px;
  padding: 0px 0px 0px 15px;
}

.quest-container h5 {
  color: black;
  padding: 7px 0px 0px 0px;
  margin: 0 auto;
}

.quest-container p {
  font-size: 10px;
  color: black;
  margin: 0 auto;
  padding: 0px 0px 0px 25px;
}

.quest-container h4 {
  padding-top: 5px;
  font-size: 10px;
  color: black;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px 0px 0px 25px;
}

.icon-container {
  width: 1100px;
  height: 30px;
  background-color: #dae6f1;
  margin: 0 auto;
}

.icon-container p{
  font-size: 15px;
  padding-left: 17px;
  padding-top: 3px;
}

.quest-container2 {
  background-color: white;
  margin: 0 auto;
  width: 1100px;
  height: 270px;
  border-radius: 0px 0px 20px 20px;
  padding: 0px 5px 0px 15px;
}

.quest-container2 h6 {
  margin: 0 auto;
  padding-top: 5px;
  font-size: 10px;
  color: black;
  font-size: 15px;
}

.quest-container2 p {
  margin: 0 auto;
  font-size: 10px;
  color: black;
  padding-left: 23px;
}

.quest-container3 {
  background-color: white;
  margin: 0 auto;
  width: 1100px;
  height: 87px;
  border-radius: 20px 20px 0px 0px;
  padding: 0px 0px 0px 15px;
  margin-top: 15px;
}

.quest-container3 h5 {
  color: black;
  padding: 7px 0px 0px 0px;
  margin: 0 auto;
}

.quest-container3 p {
  margin: 0 auto;
  font-size: 10px;
  color: black;
  padding-left: 30px;
}

.quest-container3 h4 {
  margin: 0 auto;
  padding-top: 10px;
  font-size: 10px;
  color: black;
  font-size: 15px;
  padding-left: 30px;
}

.icon-container2 {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 1110px;
  height: 30px;
  background-color: #dae6f1;
}

.icon-container2 p{
  font-size: 15px;
  padding-left: 17px;
  padding-top: 3px;
}
